    <header>
        <div class="header-content">
            <div class="header-content-inner">
                
                <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @product.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>

  <div class="col-md-4">
    <p>
      <strong>Price:</strong>
      $<%= @product.price %>

    </p>
  </div>


  <div class="col-md-4">
    <p>
      <strong>Image:</strong>
    </p>
    <a href="<%= @product.image_url %>" class="thumbnail" alt="Responsive image">
      <%= image_tag(@product.image_url, class: "img-zoom", data_zoom_image: @product.image_url) %>
    </a>
  </div>

  <div class="product-reviews">
    <% @comments.each do |comment| %>
        <div class="row">
            <hr>
            <p><%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small></p>
              <p>
    <%= f.label :body, "Comments" %><br>
    <%= f.text_area :body %>
  </p>
<div class="rated" data-score="<%= comment.rating %>"></div>

<% if signed_in? %>
  <h4>Add a review:</h4>
  <%= bootstrap_form_for([@product, @product.comments.build]) do |f| %>
    <div class="fied">
      <%= f.text_area :body, style: "resize:none", rows: "5", cols: "40" %>
    </div>

    <div class="rating"></div>
    <hr>
      <%= f.submit "Submit" %>
  <% end %>
<% end %>


  <div class="col-md-4">
    <p class="avg-rating">Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
  </div>


  <div class="col-md-4">
    <button type="submit" class="btn btn-default"><%= link_to 'Edit', edit_product_path(@product) %></button>|
    <button type="submit" class="btn btn-default"><%= link_to 'Back', products_path %></button>
  </div>


</div>
</div>
</header>