<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Price</strong>
  <%= @product.price %>
</p>

<%= render partial: 'comments' %>

<%= render partial: 'new_comment' %>

  <p>
    <div class="rating"></div>
  </p>

  <p>
    <%= f.submit "Submit" %>
  </p>
            <p><%= "Rating: #{comment.rating}/5" %></p>
            <p><%= comment.body %></p>
        </div>
    <% end %>
</div>

<p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>




<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
